{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "env": {
    "jasmine": true
  },
  "globals": {
    "__DEV__": true,
    "ReactClass": true,
    "fetch": true
  },
  "rules": {
    "prettier/prettier": ["error", {
      "trailingComma": "all",
      "singleQuote": true
    }],

    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "no-unused-expressions": 0,
    "new-cap": 0,
    "no-plusplus": 0,
    "no-class-assign": 0,
    "no-duplicate-imports": 0,
    "no-console": 0,

    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,

    "react/jsx-filename-extension": [
      0, { "extensions": [".js", ".jsx"] }
    ],

    "react/sort-comp": 0,
    "react/prefer-stateless-function": 0,

    "react/forbid-prop-types": 1,
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "react/no-unused-prop-types": 0
  }
}
